<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 well">
<p id="notice"><%= notice %></p>

<h1>Hello <%= current_user.name%></h1>

<%= link_to 'Upload Image' ,new_image_path ,class:'btn btn-success btnt'%>
    <br><br>
<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>User</th>-->
      <!--<th>Review</th>-->
      <!--<th>File</th>-->
      <!--<th>Created at</th>-->
      <!--<th>Like</th>-->
      <!--<th colspan="3"></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
    <!--<% @images.each do |image| %>-->
      <!--<tr>-->
        <!--<td><%= image.user_id %></td>-->
        <!--<td><%= image.review %></td>-->
        <!--<td><%= image_tag image.file ,class:"images_post"%></td>-->
        <!--<td><%= image.created_at %></td>-->
        <!--<td><%= image.like %></td>-->
        <!--<td><%= link_to 'Show', image %></td>-->
        <!--<td><%= link_to 'Edit', edit_image_path(image) %></td>-->
        <!--<td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->
    <br>
    <% @images.each do |image| %>
        <div class="row">
          <div class="col-md-2">

    <%= image_tag(current_user.avatar.url(:thumb))  %></div>
          <div class="col-md-8 name_post">
        <h3>  <%= current_user.name  %></h3>
          <h4>  <%= image.created_at %></h4>
          </div>
          <div class="col-md-2">
            <h3> <%= link_to 'Edit', edit_image_path(image) %></h3></div>
        </div>
        <h3> <%= image.review %></h3>
        <div class="post">
          <%= image_tag image.file ,class:"images_post"%>

        </div>
        <br><br>



<%= link_to 'Comment',image_path(image) %>
    <ul>
      <% image.image_comment.each do |image_comment|%>
          <li><%= image_comment.comment %>
            (<i><%= image_comment.user_id %></i>)</li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>

